.App {
  text-align: center;
}
#div1{
  height:400px;
  width:400px;
  background-color:transparent;
  border: 3px solid white;
  border-radius: 14px;
  color: white;
  display:inline-block;
  margin-top: 50px;
  font-family: serif;
  
}
#outer_div{
  height: 496px;
  /* width:1366px; */
  background-image: url(prerna.png);
  
}
.inputbox{
  margin-bottom: 20px;
  text-decoration: underline;
  background-color: transparent;
  color:white;
}
#para{
  display:inline;
  text-decoration: underline;
  background-color: transparent;
  color:white;
}
.button{
  margin-bottom:20px;
  padding:12px 24px;
  font-size:14px;

  color:white;
  margin:30px;
  background-color: transparent;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
