#profile{
   
    display: flex;
    flex-direction: column;
    background-color:white;
    justify-content: center;
    align-items: center;

   
  }
  

#block{
   
  
    
    width: 100%;
    height:50vh;
    background:url(profile.svg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center center;
    
   
  
}
@media (max-width:900px){
    #block{
        height:40%;
    }
}

@media (max-width:600px){
    #block{
        height:40%;
    }
}

.image2{
    display:flex;
    height:150px;
    width:150px;
    background: url(image2.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-size: contain;
    /* animation: vertical-move 0.4s infinite alternate ease-in-out; */
    
    margin-top:10px;
}



@keyframes vertical-move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(25px); /* Adjust the value for desired vertical movement */
    }
  }
  @media (max-width:900px) {
    .image2{
        height:120px;
        width:120px;
    }
}
@media (max-width:600px) {
    .image2{
        height:80px;
        width:80px;
        margin-top:20px;
    }
}
/* #block1{
    display: flex;
    
    height:40%;
    width:40%;
    background:url(images.png);
    
    background-repeat:no-repeat;
} */
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    border:none;
    background:none;
    flex-direction:column;
}
.edit{
    background-color:#0e8b9f;
    color:white;
    padding:5px;
    font-size:1.0rem;
    width:100%;
    /* border-radius: 16px; */

}
/* .user{
    font-size:3rem;
    font-family:serif;

}
<h1>chetan</h1> */


#email{
    display:flex;
    color:#2eb7b6;
    justify-content: center;
    align-items: center;
    /* font-size: 1.6em; */
    /* background-color: white; */
    
}
.email1{
    font-size: 1.6rem;
    font-family: serif;
    margin: 0;
    padding: 0;
    
}
@media (max-width:600px){
    .email1{
        font-size: 1.3rem;
    }
}
.details{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* align-items: center; */
    /* justify-content: center; */
}
@media screen and (max-width:900px){
    .details{
        width:50%;
    }
}
@media screen and (max-width:600px){
    .details{
        width:70%;
    }
}
.forms{
    border:none;
   
}
.first_name,.last_name{
    display: flex;
    align-items: center;
    padding: 12px 1.4rem;
    background: #f0f0f0;
    border-radius: 58px;
    /* margin-top: 10px; */
    width: 100%;
    margin-bottom: 10px;
}
.roll_no{
    display: flex;
    align-items: center;
    padding: 12px 1.4rem;
    background: #f0f0f0;
    border-radius: 58px;
    /* margin-top: 10px; */
    width: 100%;
    margin-bottom: 10px;;
}
.label,.label1,.label2{
    margin-right: 5px;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: serif;
}
#f_name,#l_name
{
    outline: none;
    border:none;
    order: none;
    background: none;
    font-size: 1.0rem;
    font-weight: 600;
    margin-top: 2px;
    width: 100%;
    appearance: none;
    text-align: left;
}
#r_name,#id
{
    outline: none;
    border:none;
    order: none;
    background: none;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 2px;
    width: 70%;
    appearance: none;
    text-align: center;
}
#id{
    text-align: left;
}
.change_password{
    display:flex;
    display: flex;
    flex-direction: row-reverse;
}

.password{
    color:#2eb7b6;
    
    font-family: serif;
    font-size: 1.2rem;
    
}
.button{
    display:flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 35px;
    border:none;
    margin-top:50px;
}
#button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    color:white;
    background-color: #2eb7b6;
    font-family: serif;
    font-size: 1.0rem;
    padding:8px;
    width:20%;
    border:none;
    border-radius: 16px;
}


#user{
    font-family:serif;
    font-size: 1.5rem;
}
@media (max-width:600px) {
    #user{
        font-size:1rem;
    }
}