.heading{
  text-decoration:underline;
}
#div1{
  height:400px;
  width:400px;
  background-color:transparent;
  border: 3px solid white;
  border-radius: 14px;
  color: white;
  display:inline-block;
  margin-top : 50px;
  font-family: serif;
}
#outer_div{
  height: 496px;
  /* width:1366px; */
  background-image: url(prerna.png);
  
}
.inputbox{
  margin-bottom: 20px;
  text-decoration: underline;
  background-color: transparent;
  color:white;
  border:none;
  outline:none;
}
#para{
  display:inline;
  text-decoration: underline;
  background-color: transparent;
  color:white;
  
}
#question{
  background:transparent;
  color:white;
  border:1px solid black;
  border:none;
  outline:none;
  text-decoration: underline;
}

.button{
  margin-bottom:20px;
  border-radius: 16px;
  height: 29px;
  width: 180px;
  font-size:14px;
  border-radius:14px;
  color:white;
  margin:30px;
  background-color: transparent;
}
.select{
  display:inline;
}
.custom-input{
  background-color:transparent;
  color:white;
  border:none;
  outline:none;
  margin-bottom:10px;
  padding: 10px;
  text-decoration: underline;
}
.custom-label{
  text-decoration:underline;
}
.select{
  text-decoration:underline;
}
.custom-select{
  background-color:transparent;
  color:white;
  border:none;
  outline:none;
  text-decoration:underline;
}

