


#a__home{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    color: white;
    z-index: 1;
    transition: all 0.5s ease;
}

#a__home:hover {
    transform: scale(1.2);
}
.login-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: white;
}

.login-container::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #00c6a7, #1e4d92);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
}

.content-section {


    position: absolute;
    right: 5%;
    bottom: 15%;
    border-radius: 4px;

    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.border {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border h1 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 2.6rem;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
}

.login-error{
    color: red;
}

.login-form_method {
    width: 71%;
}

.login-form-group {
    border: none;
    margin-bottom: 6px;
    
}

.forgot_password {
    float: right;
    font-size: 1.1rem;
    font-weight: 500;
}

.forgot_password a {
    text-decoration: none;
    color: #00c6a7;

}

.login-info {

    display: flex;
    align-items: center;
    padding: 15px 1.4rem;
    background: #f7f6f6;
    border-radius: 58px;
    margin-top: 10px;
    box-shadow: 0px 6px 15.5px 1px #EDEDED;

}

.login-info-pass{
    display: flex;
    justify-content: space-between;
}

.login-info .icon {
    margin-right: 5px;
    color: #acacac;
    font-size: 1.1rem;
    font-weight: 600;
}

.login-info input {
    outline: none;
    border: none;
    background: none;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    margin: auto;
}
@media(max-width:1050px){
    .border h1{
        font-size: 2rem;
    }
    .login-logo{
        width: 40%;
    }
}

.login-btn-outline-info {
    width: 100%;
    padding: 3%;

    margin-top: 8%;
    border: none;
    border-radius: 18px;
    background: #8692A6;
    
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.8s ease;

}

.login-btn-outline-info:hover {
    transform: scale(0.98);
}

.login-google-btn{
    background-color: #f7f6f6;
    box-shadow: 0px 6px 15.5px 2px #EDEDED;
    margin-top: 4%;
}
.login-google{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 11.653px;    
}
.login-google img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.login-google span{
    color: black;
    font-size: 1rem;
    margin: auto;
}
.login-left_panel {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;

}

.login-pt-3 {

    font-weight: bolder;
    color: white;
}

.login-pt-3 h3 {
    font-size: 1.8rem;

}

.login-pt-3 p {
    font-size: 1.2rem;

}

.login-pt-3 a {
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    margin-top: 11px;
    text-decoration: none;

}

.undraw {
    width: 90%;
    height: 45%;
}

.sign_up {
    border: 2px solid;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px;
    transition: all 0.8s ease;
}

.sign_up:hover {
    background: #bfe4e4a1;

}




@media (max-width: 800px) {
    .login-container::before {
        width: 1000px;
        height: 1000px;
        top: -18%;
        right: 8%;
        transform: translateY(-50%);
    }

    .content-section {
        right: 19%;
        top: 35%;
        width: 60%;
    }

    .border {
        width: 100%;
    }

    .border h1 {
        margin-top: 0%;
        font-size: 1.8rem;
    }

   

    .login-form-group {

        margin: 5px auto;
        margin-top: 10px;
    }
    .forgot_password{
        float: none;
    }

    .login-info {
        padding: 12px 1rem;
        border-radius: 61px;
    }

    .login-info .icon {
        font-size: 1rem;
    }

    .login-info input {
        font-size: 1rem;
    }

    .login-btn-outline-info {
        padding: 2%;
        margin-top: 3%;
        margin-bottom: 2%;
        font-size: 1.15rem;
    }
    

    .login-pt-3 {
        margin-left: 46px;
    }

    .login-pt-3 h3 {
        font-size: 1.3rem;

    }

    .login-pt-3 p {
        font-size: 1rem;

    }

    .login-left_panel {
        flex-direction: row;
        width: 100%;
        height: 28%;
    }
}

@media(max-width:450px) {
    .undraw {
        display: none;
    }
    .login-logo{
        width: 50%;
        margin-bottom: 20px;
    }

    .login-container::before {
        width: 1000px;
        height: 1000px;
        border-radius: 0%;
        top: -41%;
        right: -64%;
    }

    .login-pt-3 {
        margin-left: 0%;
    }
    .login-pt-3 h3 {
        margin-top: 25px;
    }

    .content-section {
        right: 3%;
        width: 90%;
        top: 29%;
    }

    .login-left_panel {
        height: 20%;
    }
}

@media(width:460px),
(max-height: 570px) {
    .login-left_panel {
        top: 15px;
    }

    .login-container::before {
        height: 800px;
    }
}

@media (width:460px),
(max-height:520px) {
    .login-left_panel {
        top: 5px;
    }

    .content-section {
        top: 37%;
    }
}

@media (width:460px),
(max-height: 480px) {
    .login-container::before {
        height: 654px;
    }

    .login-left_panel {
        top: 11px;
    }

    .login-pt-3 h3 {
        font-size: 1rem;
    }

    .login-pt-3 p {
        font-size: 0.8rem;
    }

    .sign_up {
        width: 46%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .content-section {
        width: 100%;
        right: 0;
        top: 35%;
    }

    .border h1 {
        font-size: 1.5rem;
    }

    .login-info {
        padding: 4px 1rem;
    }

    .forgot_password {
        font-size: 1rem;
    }

    .login-btn-outline-info {
        padding: 1%;
    }
}

@media (width:460px),
(max-height: 430px) {
    .login-container::before {
        height: 605px;
    }
}

@media (width:460px),
(max-height: 385px) {
    .login-container::before {

        height: 486px;
    }

    .content-section {
        top: 28%;
    }
}

@media(width:460px),
(max-height: 365px) {
    .login-container::before {

        height: 497px;
    }

}

@media(width:1191px),
(max-height:525px) {
    .content-section {
        top: 4%;
    }
}

@media(width:1191px),
(max-height:378px) {
    .content-section {
        width: 43%;
        top: 0%;
    }
}

@media(width:787px),
(max-height:700px) {
    .login-container::before {
        top: -45%;
        /* right: 17%; */
    }
}

@media(width:787px),
(max-height:525px) {
    .login-container::before {
        top: -39%;

    }

    .content-section {
        top: 37%;
    }
}

@media(width:787px),
(max-height:403px) {

    .content-section {
        top: 24%;
        left: 11%;
        width: 80%;
    }
}

@media(width:787px),
(max-height:338px) {

    .content-section {
        top: 14%;
    }
}