.alert {
    display: inline-block;
    border: 1px solid darkred;
    background-color: darkred;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
  }
  
  .success {
    border-color: green;
    background-color: green;
  }
  
  .error {
    border-color: darkred;
    background-color: darkred;
  }

  .alert input:invalid {
    box-shadow: none;
    outline:none;
  }
      

.main_box {
    border: 5px solid white;
    background-color: white;
    border-radius: 6px;
    width: 45%;
    margin: auto;
}

@media(max-width:500px) {
    .main_box {
        width: 80%;
    }
}

.logo_head {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 175px;
}

.reset-btn {
    background-color: #248162;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 8px;
}

.reset-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
}

.email {
    display: block;
    font-size: 20px;
    min-width: 250px;
    width: 80%;
    font-family: italic;
    padding: 5px;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    border: 2px solid #248162;
    border-radius: 5px;
    outline: none;
}

.home {
    position: absolute;
    bottom: 0;
    right: 5%;
    border: none;
    background: none;

    text-decoration: none;
}

.home i {
    color: #248162;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.home i:hover {

    transform: scale(1.3, 1.3);
}
#a_home {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2.5rem;
    color: #248162;
    z-index: 1;
    transition: transform 0.5s ease;
}

#a_home:hover {
    transform: scale(1.3, 1.3);
}


@media(max-width:500px) {
    #a_home {
        font-size: 2rem;
        left: 1rem;
        top: 2.5rem;
    }
}
.main_box2{
    background-color: white;
    padding: 20px;
}