*{

    /* To be removed or replaced by someone who starts working on this. */
    margin: 50px;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

